<!DOCTYPE html>
<html>

<head>
    {% extends 'bootstrap/base.html'%}
    <meta charset="utf-8"> {% if title %}
    <title> {{ title }}</title>
    {% else %}
    <title> Welcome to the News highlights </title>
    {% endif %}
</head>

<body>

    {% block content %}
    <header class="intro-header" style="background-image: url('static/img/home.jpg')">

    <!-- Navbar block  -->
    {% block navbar %} {% include 'navbar.html' %} {% endblock %}
    <!-- Content block -->
    {% endblock%}
</body>

</html>