{% extends 'base.html'%} {% import 'macros.html' as macro%}

<body>

    {% block content %}
    <!-- Popular movie section  -->

    <h1><strong>PATA PATA NEWS !!</strong></h1>
    <ul class="container" >
        {% for biashara in business %}
        <div class="row">
            <div class="card">
                <img class="card-img-top" style="width: 78rem;" src="{{biashara.image_url}}" alt="">
            </div>
            <div class="card." >
                <li>{{ biashara.title}}</li>
                <li>{{ biashara.author}}</li>
                <li>{{ biashara.description}}</li>
                <li>{{ biashara.publish_time}}</li>
            </div>
        </div>

        {% endfor %}
    </ul>
    {% endblock%}
</body>