{% extends 'base.html'%} {% import 'macros.html' as macro%}
<!-- Styles block -->

{% block styles%} {{ super() }}
<link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}"> {% endblock %}
<!-- Content block -->
<meta charset="utf-8"> {% if title %}
<title> {{ title }}</title>
{% else %}
<title> Welcome to the News highlights</title>
{% endif %}

</head>

<body>
    {% block content %}
    <div class="container">
        <div class="jumbotron " style="padding-top:60px;">
            <h1 style="font-size:50px; text-align:center;"><strong>PATA PATA NEWS !!</strong></h1>
            <hr>
            <hr>
            <hr>
            <!-- general source section  -->
            <div class="row">
                <div class="col-md-3">
                    <!-- Sports news  -->
                    <h3 class="text-danger"> Sports News/Michezo </h3>
                    <ul>
                        <strong>{{ macro.displaySourceList(sports)}}</strong>
                    </ul>
                </div>
                <div class="col-md-3">
                    <!-- Technology news  -->
                    <h3 class="text-danger"> Technology News/Ufundi </h3>
                    <ul>
                        <strong>{{ macro.displaySourceList(technology)}}</strong>
                    </ul>
                </div>
                <div class="col-md-3">
                    <!-- Entertainment news  -->
                    <h3 class="text-danger"> Entertainment News /Burudani </h3>
                    <ul>
                        <strong>{{ macro.displaySourceList(entertainment)}}</strong>
                    </ul>
                </div>
                <div class="col-md-2">
                    <!-- Business news  -->
                    <h3 class="text-danger"> Business News/Biashara </h3>
                    <ul>
                        <strong>{{ macro.displaySourceList(business)}}</strong>
                    </ul>
                </div>
                <div class="col-md-1 ">
                    <!-- Science news  -->
                    <h3 class="text-danger "> Science News/Sayansi </h3>
                    <ul>
                        <strong>{{ macro.displaySourceList(science)}}</strong>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    {% endblock%}